{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/world.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
		


		<FONT face="Helvetica" size="4" color="black">
		
<hr>
<font size="4">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps</title> 


  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>

  <div id="map" style="width: 100%; height: 70%;"></div>
<div id="myTextDiv" style="color: black; position: absolute;">
        <form id="form" class="form-inline" role="form">

	<font size="5"> <b><p>
          <div>&nbsp; &nbsp; Max list price:</b></font>
            <input id="max_price" class="slider" 
                   type="range" min="0" max="5000000" step="50000" value="{{settings['max_list_price']}}" name="max_list_price" style="width:100px;"/>
            <input id="max_price-textbox" class="textbox" type="text" value="{{settings['max_list_price']}}" maxlength="8" size="9" />
          </div>

          <div> <font size="5"><b>&nbsp; &nbsp; Min list price:</b></font>
            <input id="min_price" class="slider"
                   type="range" min="0" max="5000000" step="50000" value="{{settings['min_list_price']}}" name="min_list_price" style="width:100px;"/>
            <input id="min_price-textbox" class="textbox" type="text" value="{{settings['min_list_price']}}" maxlength="8" size="9" />
          </div>


          <div> <font size="5"><b>&nbsp; &nbsp; Min Bedrooms:</b></font>
            <input id="beds" class="slider" type="range" min="0" max="6" value="{{settings['beds']}}" name="beds" style="width:100px;"/>
            <input id="beds-textbox" class="textbox" type="text" value="{{settings['beds']}}" maxlength="2" size="2" />
          </div>
		  <font size="5"><b>&nbsp; &nbsp; Order by:</b></font>
          <select id="order_by" name="order_by">

			<option value="list_price" {% if order_by == "list_price" %} selected="selected" {% endif %}>
              List Price
            </option>

            <option value="prediction_r" {% if order_by == "prediction_r" %} selected="selected" {% endif %}>
              Predicted Sale Price
            </option>

            <option value="sqft" {% if order_by == "difference" %} selected="selected" {% endif %}>
              Sqft
            </option>

            <option value="neighborhood" {% if order_by == "neighborhood" %} selected="selected" {% endif %}>
              Neighborhood
            </option>

            <option value="difference" {% if order_by == "difference" %} selected="selected" {% endif %}>
              Difference
            </option>

          </select>

          <select id="sort" name="sort">
           <option value="DESC" {% if sort == "DESC" %} selected="selected" {% endif %}>Descending</option> 
           <option value="ASC" {% if sort == "ASC" %} selected="selected" {% endif %}>Ascending</option>
          </select>

          <button id="reset" type="submit" class="btn btn-default"><b><font size=5>Go!</b></font></button>  
<p>  
</form>

  </div>

<div id="myTextDiv2" style="color: black; position: absolute;">
	<div style="font-family:verdana;padding:4px;border-radius:10px;border:2px solid #000000;">

<b><font size= 4>TruValuation Predictions:<br><br>
	<img src="http://labs.google.com/ridefinder/images/mm_20_red.png"> = will sell below asking price<br>  
	<img src="http://labs.google.com/ridefinder/images/mm_20_orange.png"> = will sell around asking price<br>  
	<img src="http://labs.google.com/ridefinder/images/mm_20_green.png"> = will sell above asking price<br>  
<b>
	</font>
	</div>
</div>


  <script type="text/javascript">


    var locations = [
    {% for line in settings['data'] %}

      ['<font size=3.5><b><u><a href={{line.home_url}} target="_blank">{{line.home}}, San Francisco, CA</a></b></u><br><img src="http://maps.googleapis.com/maps/api/streetview?size=100x75&location={{line.latitude}},{{line.longitude}}&heading=235"align="left"><br>{{line.neighborhood}} ({{line.year_built}})</i><br>{{line.beds}} bed, {{line.baths}} bath<br>{{line.sqft}} Sqft<br><br><b>List price: </b>{{line.list_price  | format_currency}}<br><b><font size=3.5>Predicted sale price: </b>{{line.prediction  | format_currency}} ({{line.difference}}% of list price)<br></font><font size=4><br><u><a href="test"><b>Why this valuation?</b></a></u></font><br>Transit Score: {{line.transit_score}}%<br>Walk Score: {{line.walk_score}}%<br>Popularity Score: {{line.xouts}}%<br></font>', {{line.latitude}}, {{line.longitude}},4,"{{line.colorm}}"],
      {% endfor %}
    ];


	var icons = new Array();
	icons["red"] = {
	      url: "http://labs.google.com/ridefinder/images/mm_20_red.png",
	      // This marker is 20 pixels wide by 32 pixels tall.
	      size: new google.maps.Size(12, 20),
	      // The origin for this image is 0,0.
	      origin: new google.maps.Point(0,0),
	      // The anchor for this image is the base of the flagpole at 0,32.
	      anchor: new google.maps.Point(6, 20)
	    };

	function getMarkerImage(iconColor) {
	   if ((typeof(iconColor)=="undefined") || (iconColor==null)) { 
	      iconColor = "red"; 
	   }
	   if (!icons[iconColor]) {
	      icons[iconColor] = {
	        url: "http://labs.google.com/ridefinder/images/mm_20_"+ iconColor +".png",
	        // This marker is 20 pixels wide by 32 pixels tall.
	        size: new google.maps.Size(12, 20),
	        // The origin for this image is 0,0.
	        origin: new google.maps.Point(0,0),
	        // The anchor for this image is the base of the flagpole at 0,32.
	        anchor: new google.maps.Point(6, 20)};
	   } 
	   return icons[iconColor];
	}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(37.758818, -122.450357),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });


	var myControl = document.getElementById('myTextDiv');
	map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(myControl);
	
	var myControl = document.getElementById('myTextDiv2');
	map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(myControl);

    var infowindow = new google.maps.InfoWindow();

    var marker, i;


    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        icon: getMarkerImage(locations[i][4]),

        map: map

      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>
<FONT face="Helvetica" size="2.5" color="black">

<body style="background-color:white;">
 
      <div id="table">
        <div style="overflow:scroll;height:10000px;width:100%;overflow:auto" class="table-responsive">
          <table border="1" class="table table-bordered table-condensed">
            <thead>
	<tr style="background-color: black;">
	
              <th><font color="white">Home</font></th>
			  <th><font color="white">Neighborhood</font></th>
			  <th><font color="white">Year built</font></th>
              <th><font color="white">Beds</font></th>
			  <th><font color="white">Baths</font></th>
              <th><font color="white">Sqft</font></th>
              <th><font color="white">List price</font></th>
              <th><font color="white">Predicted sale price</font></th>
              <th><font color="white">Scores</font></th></tr>
            </thead>
            <tbody>
              {% for line in settings['data'] %}
              <tr>
                <td><b><u><a href={{line.home_url}} target="_blank">{{line.home}}<br></a></b></u></td>
				<td>{{line.neighborhood}}</td>
				<td>{{line.year_built}}</td>
                <td>{{line.beds}}</td>
				<td>{{line.baths}}</td>
                <td>{{line.sqft}}</td>
                <td>{{line.list_price  | format_currency}}</td>
                <td bgcolor={{line.colorm}}>{{line.prediction  | format_currency}} ({{line.difference}}% of list price)</td>
<!--                <td><font color={{line.colorm}}>{{line.prediction  | format_currency}} ({{line.difference}}% of list price)</td></font>  -->
	                <td><b>Transit:</b> {{line.transit_score}}%, 
		<b>Walk: {{line.walk_score}}%, Popularity: {{line.xouts}}%<br></td>
	
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</font>

</font>

{% endblock %}
 
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
 
{% block scripts %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
  // Passing data window; data is global.
  var data = {{ settings['data'] | safe }};

  // Updates the slider when input text values are changed.
  $("#min_price-textbox, #max_price-textbox, #beds-textbox").on("change", function() {
    var min_price_Change = $("#min_price-textbox").val(),
      max_price_Change = $("#max_price-textbox").val(),
      beds_change = $("#beds-textbox").val();

    $("#min_price").val(min_price_Change);
    $("#max_price").val(max_price_Change);
    $("#beds").val(beds_change);
  });
  // Updates the slider when input text values are changed.
  $("#min_price, #max_price, #beds").on("change", function() {
    var min_price_Change = $("#min_price").val(),
      max_price_Change = $("#max_price").val(),
      beds_change = $("#beds").val();
    $("#min_price-textbox").val(min_price_Change);
    $("#max_price-textbox").val(max_price_Change);
    $("#beds-textbox").val(beds_change);
  });

  // Submits form when slider is moved.
  $("#min_price, #max_price, #beds, #order_by, #sort").on("change", function() {
    $("#form").submit();
  });

  // Reset form to default values.
  $("#reset").on("click", function() {
    $("#min_price").val(0);
   $("#max_price").val(0);
    $("#beds").val(0);
    $("#order_by").val("difference");
    $("#sort").val("DESC");

    $("#form").submit();
  });



</script>
{% endblock %}