{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img src="../../static/images/Monica-0186.jpg"
                 class="img-responsive" height="200px" width="300px"/>
          </div>
          <div class="col-md-5">
            <h1 class="text-justify text-muted">About TruValuation</h1>
            <p class="lead"></p>
            <p class="lead">Many factors contribute to TruValuation's home appraisals</p>
            <p class="lead">
              .
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
